.Container {
  max-width: 800px;
  padding: 20px;
}

.goBackButton {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  margin-bottom: 20px;
}

.goBack {
  color: #007bff;
}

.movieDetailsContainer {
  display: flex;
}

.moviePoster {
  width: 400px;
  height: auto;
  margin-right: 20px;
}

.movieInfo {
  flex: 1;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.genres {
  font-size: 16px;
  margin-bottom: 10px;
}

.overview {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.rating {
  font-size: 16px;
  margin-bottom: 10px;
}

.additionalInformation {
  margin-top: 30px;
  border-top: 2px solid #ccc;
  padding-top: 20px;
}

.additionalInformation p {
  margin-bottom: 10px;
}
